<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'client.addClientTitle' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="addForm" (ngSubmit)="onSubmit(clientAddForm)" [formGroup]="clientAddForm">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label> {{ 'required' | translate }}  </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">{{ 'client.name' | translate }} *</ion-label>
        <ion-input  type="text" name="name" formControlName="name" required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.surname' | translate }} *</ion-label>
        <ion-input  type="text" name="surname" formControlName="surname" required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.phone' | translate }} *</ion-label>
        <ion-input type="tel" name="phone" pattern="^[(]{0,1}[+]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]{6,8}" formControlName="phone" required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.address' | translate }}</ion-label>
        <ion-input  type="text" name="address" formControlName="address" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.dateOfBirth' | translate }}</ion-label>
        <!-- <ion-input  type="date" name="dateOfBirth" min="1900-01-01" max="2020-01-01" ngModel ></ion-input> -->
        <ion-datetime name="dateOfBirth" displayFormat="DD/MMM/YYYY" 
        monthShortNames="{{ 'months' | translate }}"
        cancelText="{{ 'cancel' | translate }}"
        doneText="{{ 'submit' | translate }}"
        min="1900-01-01" max="2020-12-31" formControlName="dateOfBirth"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'client.type' | translate }} *</ion-label>
        <select name="type" ng-model="type" id="type" formControlName="type" required>
          <option value="distributorPrice" selected>{{ 'distributorPrice' | translate }}</option>
          <option value="retailPrice">{{ 'retailPrice' | translate }}</option>
        </select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.photo' | translate }}</ion-label>
        <img id="photo" [src]="url"> <br/>
        <input type='file' name="photo" (change)="onSelectFile($event)">
        <!-- <input type='hidden' name="photoHidden" formControlName="photo"> -->
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'client.info' | translate }}</ion-label>
        <!-- <ion-input  type="text" name="address" [(ngModel)]="client.name" ></ion-input> -->
        <ion-textarea name="info" formControlName="info"></ion-textarea>
      </ion-item>
      
      <ion-button  size="large" type="submit" [disabled]="clientAddForm.invalid" expand="block">{{ 'submit' | translate }}</ion-button>
      
    </ion-list>
  </form>
 
</ion-content>
