<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="changeLanguage()">
      <ion-avatar slot="end">
        <img *ngIf="currentLanguage == 'en'" src="../../assets/img/en.jpg" />
        <img *ngIf="currentLanguage == 'ee'" src="../../assets/img/ee.jpg" />
        <img *ngIf="currentLanguage == 'ru'" src="../../assets/img/ru.jpg" />
      </ion-avatar>
      <ion-label>{{ 'settings.language' | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="exportData()">
      <ion-label>{{ 'settings.export' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'settings.import' | translate }}</ion-label>
      <br />
      <input type="file" accept=".txt, .db" (change)="readFile($event.target.files)" />
    </ion-item>
  </ion-list>
</ion-content>
